

nav {
    position:sticky;
    height: 4rem;

}

.masthead {
  width: 100%;
  height: auto;
  min-height: 45rem;
  /* padding: 15rem 0; */
  background: url("./andrew-pons-QsmGE0P2-B8-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  }

  ul {
    text-align: left;
  }


  .cardContainer {
    display:grid;
    flex-direction:row;
    justify-content: center;
  }

  .fa-solid {
   display: flex;
    position: fixed;
    justify-content: left;
    align-items: flex-start;
    content: icon;
  }
 
   #rabbit-photo {
   flex-direction: column;
  
  } 
 
  .about-section {
    margin-top: 10rem;
  }

/* box with 'Don't be shy */
  #dark-box {
    justify-content: center;
    flex-direction: row;
  }
  
  /* contact form contact page */
    #contact-form {
      top: 50%; 
      box-shadow: 0 0 20px 0; 
       
      backdrop-filter: blur(30px); 
      margin: 100px; 
      text-align: center; 
      align-self: center;
  }

  #footer {
    height: 50vh;
    display:flex;
    align-items: center;
  }
  #footer-list {
    width: 100%;
}
#footLinks {
 display: flex;
 justify-content: space-evenly ;
}

#mission-h3 {
line-height: 4rem;
/* display: flex;} */
}

h3 {
  display:flex;
  flex-direction: inherit;
}

/* .column {
  float: right;
  width: 50%;
} */

.display {
 justify-content: space-between;
 align-content: center;
 margin-top: 10rem;
 margin-bottom: 15rem;
}

#adoption-page-btn {
  margin-bottom: 5rem;
}